*{
    box-sizing: border-box;
}
header {
    padding: 20px;
    background: #666a86;
}

nav{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #f5f6f4;
    margin: 0;
}

nav a{
    font-size: 24px;
    text-decoration: none;
    padding: 14px 20px;
    color: #f5f6f4;
}

main h1{
    text-align: center;
}

main img{
    max-width: 40vh;
    max-height: 40vh;
    display: block;
    margin: auto;
    border: 3px solid #525252;
}

figcaption{
    text-align: center;
}

h2{
    text-align: center;
    color: #f5f6f4;
}

.content{
    padding: 20px;
    font-size: 20px;
}

.form{
    display: flex;
    justify-content: center;
    padding: 10px;
    bottom: 15px;
}

footer{
    background: #666a86;
    text-align: center;
    font-size: 18px;
    padding: 1px;
}

.gray{
    background-color: #525252;
}